/* Styl Pustyni */

body {
    background: linear-gradient(to bottom, #cb6e3c, #f7a072, #cb6e3c);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}
.title_sec {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 15rem;
}
.title_sec h1 {
    color: white;
    font-size: 9rem;
    margin: 0;
    letter-spacing: 0.2rem;
}

.title_sec p.wobbly {
    color: #ff9832;
    margin: 0;
    margin-top: -2rem;
    margin-left: 25rem;
    font-size: 2rem;
    font-weight: bold;
    transform: rotate(-1deg);
    animation: wobble 2s infinite ease-in-out;
    text-shadow: 0.1rem 0.2rem 0 #000;
}

@keyframes wobble {
    0%, 100% {
        transform: rotate(-8deg) scale(1);
    }

    50% {
        transform: rotate(-10deg) scale(1.05);
    }
}

#gra {
    width: 100%;
    height: 60rem;
    display: flex;
}
.sekcjaGry {
    width: 25%;
    height: 100%;
    border-width: 1rem 0.5rem;
    border-color: #CCDCA4 ;
    border-style: solid;
    overflow: auto;
}
.cele {
    width: 100%;
    height: 20%;
    background-color: rgba(237, 176, 71, 0.3);
    border-bottom: 0.2rem solid #CCDCA4;
}
.kategorie {
    width: 100%;
    height: 25%;
    background-color: rgba(237, 176, 71, 0.3);
    border-bottom: 0.2rem solid #CCDCA4;
}
.kategorie button {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: 0.5s;
    border: 15px #CCDCA4 solid;
    color: #CCDCA4;
    font-size: 3rem;
}
.kategorie button:hover {
    transform: scale(1.1);
}
#Lud {
    background-image: url(furrydesert.png);
    background-position-y: -3rem;
}
#Budynki {
    background-image: url(villagedesert.png);
    background-position-y: -6rem;
}
#Terraformacja {
    background-image: url(terraformation.png);
    background-position-y: -5rem;
}
form {
    width: 100%;
    height: 100%;
}