body {
    background-color: #6D466B;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title_sec {
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}

.title_sec h1 {
    color: white;
    font-size: 64px;
    margin: 0;
    letter-spacing: 3px;
}

.title_sec p.wobbly {
    color: #EAD7D7;
    margin: 0;
    margin-top: -10px;
    margin-left: 50px;
    font-size: 24px;
    font-weight: bold;
    transform: rotate(-1deg);
    animation: wobble 2s infinite ease-in-out;
    text-shadow: 2px 2px 0 #000;
}

@keyframes wobble {
    0%, 100% {
        transform: rotate(-8deg) scale(1);
    }

    50% {
        transform: rotate(-10deg) scale(1.05);
    }
}

